doctype html
html
  head
    meta(charset="utf-8")
    link(rel="shortcut icon", href="/favicon.ico")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color", content="#000000")
    title #{title} | Magic Forum
    script(src='../jquery.min.js')
    link#bootstrap-css-css(rel="stylesheet" href="../css/bootstrap5152.css?ver=1.0" type="text/css" media="all")
    link#responsive-css-css(rel="stylesheet" href="../css/responsive5152.css?ver=1.0" type="text/css" media="all")
    link#main-css-css(rel="stylesheet" href="../css/main5152.css?ver=1.0" type="text/css" media="all")
  body
    .header-wrapper
        header
          .container
            .logo-container
              //- Website Logo
              a(href="/" title="Home")
                img(src="../favicon.ico" alt="Home")
              span.tag-line Magic Forum
            nav.main-nav
              .menu-top-menu-container
                ul#menu-top-menu.clearfix
                  li
                    a(href="/") Home
                  li
                    a(href="/forum/loadUser?id="+userProfile.id) Account
                  li
                    a(href="/users/listUsers") List Users
                  li
                    a(href="/logout") Log out
    .search-area-wrapper
      .search-area.container
        h3#greeting.search-header
        //- h3#greeting.search-header Howdy, #{userProfile.nickname}!
        p.search-tag-line Welcome back to your magic forum!
        form#search-form.search-form.clearfix(method="get" action="/forum/search" autocomplete="off")
          input#s.search-term.required(type="text" name="input" placeholder="Type your search terms here" title="* Please enter a search term!")
          input.search-btn(type="submit" value="Search")
          #search-error-container
    .page-container
        .container
            .row
                //- .span4
                .span8.main-listing
                    h1 Most Popular Posts
                    each post in posts
                        article.format-standard.type-post.hentry.clearfix
                          header.clearfix
                            h3.post-title
                                a(href="/forum/loadPost?id="+post.PostID) #{post.Title}
                            .post-meta.clearfix
                              span.date #{post.Date}
                              span.category
                                a(href="/forum/loadCategory?id="+post.CatID+"&title="+post.Category title="View all posts in " + post.Category) #{post.Category}
                              span.comments
                                a(href="/forum/loadPost?id="+post.PostID title="Comment") #{post.CommentCount} Comments
                              span.like-count(value=post.PostID) #{post.LikeCount}
                              span.author
                                a(href="/forum/loadUser?id="+post.UserID tile="View " + post.Author + "'s profile'") #{post.Author}
                              if userProfile.user_id == post.UserID || level > 2
                                span 
                                    form.form-inline(action="/forum/deletePost" method="POST")
                                        input#postid(name="postid", value=post.PostID, type="hidden")
                                        button#post.btn.btn-small(type="submit" name="submit") delete
                          p.content
                            | #{post.Content} 
                            a.readmore-link(href="/forum/loadPost?id="+post.PostID) Read more
                    h1 Categories
                    each cat in cats
                        article.format-standard.type-post.hentry.clearfix
                          header.clearfix
                            h3.post-title
                              a(href="/forum/loadCategory?id="+cat.CatID+"&title="+cat.Title) #{cat.Title}
                          span.comments
                            a(href="#" title="Posts") #{cat.PostCount} Posts
                          if level > 2
                            span 
                                button#post.btn.btn-small(onclick="confirmDelete("+cat.CatID+")") delete
                          p.content
                            | #{cat.Description} 
                //- .span8
                //-   h3.title Categories
                //-     ul
                //-       each cat in cats
                //-         li
                //-           a(href="/forum/loadCategory?id="+cat.CatID+"&title="+cat.Title) #{cat.Title}
                .span4
                    section.widget
                        .info-widget
                            .avatar-wrap
                                img#userAvatar.avatar.avatar-60.photo(alt="" src="/images/support.png" height="60" width="60")
                            div.Title
                                h3 Your info
                            .username-wrap
                                b Username: 
                                span#username 
                            .gender-wrap
                                b Gender: 
                                span#gender 
                            .birthday-wrap
                                b Birthday: 
                                span#birthday 
                            .phone-wrap
                                b Phone: 
                                span#phone 
                    section.widget
                        .support-widget
                            h3.title New Post
                            form(action="/forum/createPost" method="POST")
                                select#selectCat.form-control(name='category')
                                    option(value='-1', selected= true) -- Select Category --
                                    each cat,index in cats
                                      option(value=cat.CatID,selected=false) #{cat.Title}
                                br
                                input#title.form-control(type='text', name='title', placeholder='your title')
                                br
                                textarea#content.form-control(name="content", rows='5', cols='20', placeholder='your content')
                                br
                                button#post.btn.btn-primary(type="submit" name="submit") post
                    if level === 3
                      section.widget
                        .support-widget
                            h3.title New Category
                            form(action="/forum/createCategory" method="POST")
                                textarea#content.form-control(name="title", rows='1', cols='20', placeholder='Category Name')
                                br
                                textarea#content.form-control(name="description", rows='5', cols='20', placeholder='Category Description')
                                br
                                button#post.btn.btn-primary(type="submit" name="submit") Create Category
                            //- a.btn(href="/logout")
                            //-     div.NavButton Log out
            #footer
                p Jonah | Aaron
                        
        script(src="../scripts/home.js")
        script(src="http://www.myersdaily.org/joseph/javascript/md5.js")
        script.
            $(document).ready(function(){
                $.post(
                    "/users/info",
                    function(data) {
                        let hash = md5(data.UserID)
                        let avatarLink = "https://www.gravatar.com/avatar/" + hash + "?d=monsterid"
                        $("#userAvatar").attr("src", avatarLink);
                        $("#greeting").html("Howdy, " + data.Username + "!");
                        $("#username").html(data.Username);
                        $("#birthday").html(data.Birthday);
                        $("#gender").html(data.Gender);
                        $("#phone").html(data.Phone);
                    }
                );
                
                //- $.getJSON(
                //-     "/forum/getCategory",
                //-     function(data) {
                //-         for (var i=0;i<data.length;i++){ 
                //-             $("#selectCat").append("<option value='"+data[i].CatID+"'>"+data[i].Title+"</option>");
                //-         }
                //-     }
                //- ); 
                   
            });   
        
            
