doctype html
html
  head
    meta(charset="utf-8")
    link(rel="shortcut icon", href="/favicon.ico")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color", content="#000000")
    title #{title} | Magic Forum
    script(src='../jquery.min.js')
    script(src='../jquery.cookie.js')
    link#bootstrap-css-css(rel="stylesheet" href="../css/bootstrap5152.css?ver=1.0" type="text/css" media="all")
    link#responsive-css-css(rel="stylesheet" href="../css/responsive5152.css?ver=1.0" type="text/css" media="all")
    link#main-css-css(rel="stylesheet" href="../css/main5152.css?ver=1.0" type="text/css" media="all")
    link#custom-css-css(rel="stylesheet" href="../css/custom5152.html?ver=1.0" type="text/css" media="all")
  body
    .header-wrapper
        header
          .container
            .logo-container
              //- Website Logo
              a(href="/" title="Home")
                img(src="../favicon.ico" alt="Home")
              span.tag-line Magic Forum
            nav.main-nav
              .menu-top-menu-container
                ul#menu-top-menu.clearfix
                  li
                    a(href="/") Home
                  li
                    a(href="/users/setting") Account
                  li
                    a(href="/logout") Log out
    .search-area-wrapper
      .search-area.container
        h3#greeting.search-header
        //- h3#greeting.search-header Howdy, #{userProfile.nickname}!
        p.search-tag-line Welcome back to your magic forum!
    .page-container
        .container
            .row
                .span8.main-listing
                    each post in posts
                        article.format-standard.type-post.hentry.clearfix
                          header.clearfix
                            h3.post-title
                              a(href="/forum/loadPost?id="+post.PostID) #{post.Title}
                            .post-meta.clearfix
                              span.date #{post.Date}
                              span.category
                                a(href="#" title="View all posts in " + post.Category) #{cat.title}
                              span.comments
                                a(href="#" title="Comment") #{post.CommentCount} Comments
                              span.like-count #{post.LikeCount}
                              span.author
                                a(href="#" tile="View " + post.Author + "'s profile'") #{post.Author}
                              span 
                                  form.form-inline(action="/forum/deletePost" method="POST")
                                      input#postid(name="postid", value=post.PostID, type="hidden")
                                      button#post.btn.btn-small(type="submit" name="submit") delete
                          p(class="post-preview")
                            | #{post.Content} 
                            a.readmore-link(href="/forum/loadPost?id="+post.PostID) Read more
                .span4
                    section.widget
                        .info-widget
                            div.Title
                                h3 Your info
                            .username-wrap
                                b Username: 
                                span#username 
                            .gender-wrap
                                b Gender: 
                                span#gender 
                            .birthday-wrap
                                b Birthday: 
                                span#birthday 
                            .phone-wrap
                                b Phone: 
                                span#phone 
                    section.widget
                        .support-widget
                            h3.title New Post
                            form(action="/forum/createPost" method="POST")
                                select#selectCat.form-control(name='category')
                                    option(value=cat.id, selected= true) #{cat.title}
                                br
                                input#title.form-control(type='text', name='title', placeholder='your title')
                                br
                                textarea#content.form-control(name="content", rows='5', cols='20', placeholder='your content')
                                br
                                button#post.btn.btn-primary(type="submit" name="submit") post
                            //- a.btn(href="/logout")
                            //-     div.NavButton Log out
            #footer
                p Jonah | Aaron
                        
        script(src="../scripts/posts.js")
        script.
            $(document).ready(function(){
                $.post(
                    "/users/info",
                    function(data) {
                        $("#greeting").html("Howdy, " + data.Username + "!");
                        $("#username").html(data.Username);
                        $("#birthday").html(data.Birthday);
                        $("#gender").html(data.Gender);
                        $("#phone").html(data.Phone);
                    }
                );
                   
            });  
