extends layout.pug

block extra-head
    script(src="../scripts/delete_btn.js" defer)
    script(src="https://www.myersdaily.org/joseph/javascript/md5.js")
    script(src="../scripts/user_widget.js")
    script(src="../scripts/like.js")
    //-search bar animation
    script(src="https://static.codepen.io/assets/common/stopExecutionOnTimeout-157cd5b220a5c80d4ff8e0e70ac069bffd87a61252088146915e8726e5d9f147.js" )
    script(src="https://www.marcoguglie.it/Codepen/AnimatedHeaderBg/demo-1/js/EasePack.min.js")
    script(src="https://www.marcoguglie.it/Codepen/AnimatedHeaderBg/demo-1/js/rAF.js")
    script(src="https://www.marcoguglie.it/Codepen/AnimatedHeaderBg/demo-1/js/TweenLite.min.js")
    script#rendered-js(src="../scripts/animation.js" defer)
    //- end search bar animation

block layout-content
    #large-header.large-header(style="height: 282px;")
      canvas#demo-canvas(width=auto height="282px")  
      .search-area.container.main-title
        h3#greeting.search-header
        p.search-tag-line Welcome back to your magic forum!
        form#search-form.search-form.clearfix(method="get" action="/forum/search" autocomplete="off")
          input#s.search-term.required(type="text" name="input" placeholder="Type your search terms here" title="* Please enter a search term!")
          input.search-btn(type="submit" value="Search")
          #search-error-container
    .page-container
        .container
            .row
                .span8.main-listing
                    h2 #{title}
                    each post in posts
                        article.format-standard.type-post.hentry.clearfix.shadow
                          header.clearfix
                            h3.post-title
                              a(href="/forum/loadPost?id="+post.PostID) #{post.Title}
                            .post-meta.clearfix
                              span.date #{post.Date}
                              span.category
                                a(href="/forum/loadCategory?id="+post.CatID+"&title="+post.Category title="View all posts in " + post.Category) #{post.Category}
                              span.comments
                                a(href="/forum/loadPost?id="+post.PostID title="Comment") #{post.CommentCount} Comments
                              span.like-count(data-postid=post.PostID) #{post.LikeCount}
                              span.author
                                a(href="/forum/loadUser?id="+post.UserID title="View " + post.Author + "'s profile'") #{post.Author}
                              if userProfile.user_id == post.UserID || level > 2
                                span 
                                    button.btn.btn-mini.btn-danger(class="DelPost" value=post.PostID title="Delete this post") Delete
                          p.content
                            | #{post.Content} 
                            a.readmore-link(href="/forum/loadPost?id="+post.PostID) Read more
                .span4
                    a(href="/forum/loadUser?id="+userProfile.id title="Go to your own page")
                      section.widget.wiget-shadow
                        .info-widget
                            .avatar-wrap
                                img#userAvatar.avatar.avatar-60.photo(alt="" src="/images/support.png" height="60" width="60")
                            div.Title
                                h3 Your info
                            .username-wrap
                                b Username: 
                                span#username 
                            .gender-wrap
                                b Gender: 
                                span#gender 
                            .birthday-wrap
                                b Birthday: 
                                span#birthday 
                            .phone-wrap
                                b Phone: 
                                span#phone 
                    section.widget.wiget-shadow
                        .support-widget
                            h3.title New Post
                            form(action="/forum/createPost" method="POST")
                                select#selectCat.form-control(name='category')
                                    option(value=cat.id, selected= true) #{cat.title}
                                br
                                input#title.form-control(type='text', name='title', placeholder='your title')
                                br
                                textarea#content.form-control(name="content", rows='5', cols='20', placeholder='your content')
                                br
                                button#post.btn.btn-primary(type="submit" name="submit") post
             
