doctype html
html
  head
    meta(charset="utf-8")
    link(rel="shortcut icon", href="/favicon.ico")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color", content="#000000")
    title #{title} | Magic Forum
    script(src='../jquery.min.js')
    script(src='../jquery.cookie.js')
    link#bootstrap-css-css(rel="stylesheet" href="../css/bootstrap5152.css?ver=1.0" type="text/css" media="all")
    link#responsive-css-css(rel="stylesheet" href="../css/responsive5152.css?ver=1.0" type="text/css" media="all")
    link#main-css-css(rel="stylesheet" href="../css/main5152.css?ver=1.0" type="text/css" media="all")
    link#custom-css-css(rel="stylesheet" href="../css/custom5152.html?ver=1.0" type="text/css" media="all")
  body
    #postid(style="display:none") #{post.PostID}
    .header-wrapper
        header
          .container
            .logo-container
              //- Website Logo
              a(href="/" title="Home")
                img(src="../favicon.ico" alt="Home")
              span.tag-line Magic Forum
            nav.main-nav
              .menu-top-menu-container
                ul#menu-top-menu.clearfix
                  li
                    a(href="/") Home
                  li
                    a(href="/users/setting") Account
                  li
                    a(href="/logout") Log out
    .search-area-wrapper
      .search-area.container
        h3#greeting.search-header
        //- h3#greeting.search-header Howdy, #{userProfile.nickname}!
        p.search-tag-line Welcome back to your magic forum!
    .page-container
        .container
            .row
                .span8.main-listing
                    article.format-standard.type-post.hentry.clearfix
                        header.clearfix
                            h3.post-title
                                a(href="#") #{post.Title}
                            .post-meta.clearfix
                                span.date #{post.Date}
                                span.category
                                    a(href="#" title="View all posts in " + post.CatID) #{cat.Title}
                                span.comments
                                    a(href="#" title="Comment") #{post.CommentCount} Comments
                                span.like-count(value=post.PostID) #{post.LikeCount}
                                span 
                                    form.form-inline(action="/forum/deletePost" method="POST")
                                        input#postid(name="postid", value=post.PostID, type="hidden")
                                        button#post.btn.btn-small(type="submit" name="submit") delete
                        p #{post.Content}
                        
                    .like-btn
                        span.like-it(value=post.PostID) #{post.LikeCount}
                        
                    section#comments
                        h3#comments-title () Comments
                        ol.commentlist
                        //- start of respond
                        #respond
                            h3 Leave a Reply
                            form#commentform(action="/forum/createCom" method="post")
                                p.comment-notes
                                    | Leave a comment here!
                                div
                                    label(for="comment") Comment
                                    textarea#comment.span8(name="content" cols="58" rows="5")
                                div
                                    input(type="hidden" name="postID" value=post.PostID)
                                    button#submit.btn(name="submit" type="submit") Post Comment
                        //- end of respond
                .span4
                    section.widget
                        #userInfo.info-widget
                            .avatar-wrap
                                img#userAvatar.avatar.avatar-60.photo(alt="" src="/images/support.png" height="60" width="60")
                            div.Title
                                h3 Your info
                            .username-wrap
                                b Username: 
                                span#username 
                            .gender-wrap
                                b Gender: 
                                span#gender 
                            .birthday-wrap
                                b Birthday: 
                                span#birthday 
                            .phone-wrap
                                b Phone: 
                                span#phone 
                    

            #footer
                p Jonah | Aaron
                        
        script(src="../scripts/test.js")
        script(src="https://cdn.bootcdn.net/ajax/libs/blueimp-md5/2.15.0/js/md5.min.js")
        script(src="../scripts/single.js")
