extends layout.pug

block layout-content
    #postid(style="display:none") #{post.PostID}
    .search-area-wrapper
      .search-area.container
        h3#greeting.search-header
        p.search-tag-line Welcome back to your magic forum!
        form#search-form.search-form.clearfix(method="get" action="/forum/search" autocomplete="off")
          input#s.search-term.required(type="text" name="input" placeholder="Type your search terms here" title="* Please enter a search term!")
          input.search-btn(type="submit" value="Search")
          #search-error-container
    .page-container
        .container
            .row
                .span8.main-listing
                    article.format-standard.type-post.hentry.clearfix
                        header.clearfix
                            h3.post-title
                                a(href="#") #{post.Title}
                            .post-meta.clearfix
                                span.date #{post.Date}
                                span.category
                                    a(href="/forum/loadCategory?id="+post.CatID+"&title="+post.Category title="View all posts in " + post.CatID) #{post.Category}
                                span.comments
                                    a(href="#" title="Comment") #{post.CommentCount} Comments
                                span.like-count(value=post.PostID) #{post.LikeCount}
                                span.author
                                    a(href="/forum/loadUser?id="+post.UserID tile="View " + post.Author + "'s profile'") #{post.Author}
                                if userProfile.user_id == post.UserID || level > 2
                                    span 
                                        button#post.btn.btn-mini.btn-info(onclick="confirmDeletePost("+post.PostID+", "+post.CatID+", \""+post.Category+"\")") delete
                        p.content #{post.Content}
                        
                    .like-btn
                        span.like-it(value=post.PostID) #{post.LikeCount}
                        
                    section#comments
                        h3#comments-title () Comments
                        ol.commentlist
                        //- start of respond
                        #respond
                            h3 Leave a Reply
                            form#commentform(action="/forum/createCom" method="post")
                                p.comment-notes
                                    | Leave a comment here!
                                div
                                    label(for="comment") Comment
                                    textarea#comment.span8(name="content" cols="58" rows="5")
                                div
                                    input(type="hidden" name="postID" value=post.PostID)
                                    button#submit.btn(name="submit" type="submit") Post Comment
                        //- end of respond
                .span4
                    section.widget
                        #userInfo.info-widget
                            .avatar-wrap
                                img#userAvatar.avatar.avatar-60.photo(alt="" src="/images/support.png" height="60" width="60")
                            div.Title
                                h3 Your info
                            .username-wrap
                                b Username: 
                                span#username 
                            .gender-wrap
                                b Gender: 
                                span#gender 
                            .birthday-wrap
                                b Birthday: 
                                span#birthday 
                            .phone-wrap
                                b Phone: 
                                span#phone 
                        
        script(src="http://www.myersdaily.org/joseph/javascript/md5.js")
        script(src="../scripts/single.js")
