extends layout

block layout-content
    div.View.WelcomeView
        h1.Banner Howdy, #{userProfile.nickname}!
        div.Message
            div.Title
                h3 your forum info
            p User Name: #{username}
            p Gender: #{gender}
            p D.O.B.: #{birthday}
            p Phone: #{phone}
            //- pre.Details=JSON.stringify(userProfile, null, 2)
            div.NavButtons
                a(href="/users/setting")
                    div.NavButton Edit
        div.NavButtons
            a(href="/logout")
                div.NavButton Log out
