extends layout

block layout-content
    div.View.WelcomeView
        h1.Banner Howdy, #{username}!
        
        div.Message
            div.Title
                h3 your forum info
            p User Name: #{username}
            p Gender: #{gender}
            p D.O.B.: #{birthday}
            p Phone: #{phone}
            div.NavButtons
                a(href="/users/setting")
                    div.NavButton Edit
            br
            //-These buttons are placeholders, and shouldn't be on this page
            div.NavButtons
                a(href="/users/newcat")
                    div.NavButton New Category
            //-They belong on the forum browsing page
            br
            div.NavButtons
                a(href="/users/listPosts")
                    div.NavButton Show Posts
                        
        div.NavButtons
            a(href="/logout")
                div.NavButton Log out
